.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50rem;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.zoom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-img-top:hover .zoom-overlay {
  opacity: 1;
}

.card-img-top img {
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover img {
  transform: scale(1.1);
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #6c757d;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #28ce03;
  border-color: #28ce03;
}

.btn-primary:hover {
  background-color: #22a003;
  border-color: #22a003;
}