@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation-duration: 0.10s;
    width: 800px;
    height: auto;
    margin-bottom: -10rem;
}

.left-column {
    padding-right: 2rem;
}

.login-image {
    border-radius: 0.5rem;
}

.right-column {
    border-left: 1px solid #ced4da;
    padding-left: 2rem;
}

.login-form-container {
    padding: 2rem;
}

.login-form .form-group {
    margin-bottom: 1rem;
}

.login-form .form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 1rem 1rem; /* Reduced padding */
    font-size: 1rem; /* Reduced font size */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-form .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-button {
    background-color: #28ce03;
    border-color: #28ce03;
    color: #fff;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    width: 100%;
    padding: 0.8rem 1rem; /* Reduced padding */
    font-size: 1rem; /* Reduced font size */
}

.login-button:hover {
    background-color: #0056b3;
    border-color: #004a99;
}