/* Fonts */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Form Container */
.shiny-box-shadow-container {
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}

/* Form Title */
.form-title {
  font-size: 28px;
  font-weight: 700;
  color: #28ce03;
  text-align: center;
  margin-bottom: 30px;
}

/* Form */
.upload-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #28ce03;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #23a703;
}